// Import page-specific CSS files here.
@import "home";

.search__bar {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;

  .form {
    width: 100vw;
  }

  .search__bar-input {
    background-color: #FFFFFF;
    border: none;
    border-radius: 29px;
    padding: 1.1rem 5rem;
    width: 90%;
    position: relative;
    display: block;
    margin: 0 auto;
  }

  .search__bar-input:focus {
    outline: none;
  }

  .search__bar-input::placeholder {
    color: #000000;
    font-weight: 400;
    text-align: center;
  }

  .search__bar-input:focus::placeholder {
    color: transparent;
  }

  .search__button {
    background: none;
    border: none;
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 1.3rem;
  }

  .search__bar-icon {
    border-radius: 10px;
    border: none;
    padding: .5rem .1rem;
    width: 3rem;
    color: #000000;
    margin: 0 .5rem;
    opacity: .8;
  }
}

.banner {
  height: 50vh;
  width: 100%;
  background-color: #000000;
  position: relative;
  margin: 0 0 1rem 0;

  .banner__title {
    position: absolute;
    padding: 0rem 1rem;
    bottom: 50%;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: start;
    margin: 0;
    color: #FFFFFF;
    z-index: 1;
    text-align: justify;
  }

  .banner__image {
    height: 100%;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1449844908441-8829872d2607?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    opacity: .6;
  }
}

.intro {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 1.2rem;
  margin: 1rem 0;

  .intro__title {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
  }

  .intro__icon {
    font-size: 1.2rem;
    margin-right: .4rem;
  }
}

.properties {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;

  .properties__card {
    width: 100%;
    height: 300px;
    margin: 0 0 5rem 0;
  }

  .container__image {
    height: 20rem;
  }

  .properties__card-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .properties__information {
    margin: .3rem 0;
  }

  .properties__information-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
  }

  .properties__information-price {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
    margin: .6rem 0;
  }

  .properties__room-container {
    display: block;
    margin: 0.5rem 0;

    .properties__rooms {
      display: flex;
      justify-content: flex-start;
      list-style-type: none;
      gap: 15px;
      padding: 0;
    }
  }

}

.button__create-property-index {
    background: #FF2E00;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 2rem auto;
    padding: 1.5rem;
    width: 11rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .button__create-property-index-icon {
      color: #FFFFFF;
    }

    .button__create-property-index-word {
      font-weight: 500;
    }
}
