<footer>
  <h3>Fortini</h3>
  <div>
    <h4>Contatos</h4>
    <p>Telefone (11) 2296-8172</p>
    <p>Celular (11) 96585-4528 | (11) 94592-8931</p>
    <p>gisleifortini4@gmail.com</p>
    <p>marifortini77@gmail.com</p>
  </div>
  <h4>Sobre nós</h4>
</footer>
