<footer class="footer">
  <h2>Ficou com alguma dúvida? Entre em contato pelos canais abaixo</h2>
  <div class="footer__contact">
    <h4 class="footer__contact-title">Contatos</h4>
    <p class="footer__contact-celphone">Celular (11) 96585-4528 | (11) 94592-8931</p>
    <p class="footer__contact-email">E-mail: gisleifortini4@gmail.com</p>
    <p class="footer__contact-email">E-mail: marifortini77@gmail.com</p>
  </div>
</footer>
