<section class="container__about-us">
  <h1 class="title__about-us">Sobre nós</h1>

  <div class="profile">
    <img class="image__about-us" src="https://github.com/matheusfortini7.png" alt="avatar">
    <article class="text__container">
    <h2 class="text__container-title">Matheus Oliveira Fortini</h2>
    <p class="text__container-body">Corretor de imóveis autônomo <strong>há mais de 10 anos no mercado</strong>, bacharelando em direito e nascido em Minas Gerais.  Tenho 45 anos e possuo uma <strong>vasta experiência</strong> com venda e locação de imóveis. Ofereço serviço de consultoria imobiliária com levantamento de documentações e acompanhamento de todo o trâmite jurídico do negócio.
    Meu objetivo em cada negociação é garantir que meus clientes sintam que a <strong>confiança</strong> depositada em mim foi recompensada com bons negócios.
    No meu tempo livre gosto de ficar com a minha família, viajar e conversar pessoas novas.</p>
    </article>
  </div>

  <div class="profile">
    <img class="image__about-us" src="https://github.com/matheusfortini7.png" alt="avatar">
    <article class="text__container">
    <h2 class="text__container-title">Matheus Oliveira Fortini</h2>
    <p class="text__container-body">Olá! sou a Maria, tenho 45 anos e sou corretora há 2 anos. Antes disso, auxiliei o Gislei nos trâmites jurídicos em cada venda realizada. Alguns dos trâmites envolveram analisar documentação dos clientes e garantir a <strong>segurança</strong> em todas as negociações.

    Minha missão como corretora é oferecer o melhor <strong>serviço de consultoria imobiliária</strong> para os meus clientes e garantir que cada negócio seja conduzido da melhor forma possível.

    Nasci na Bahia e gosto de atividades ao ar livre como caminhadas no parque. Amo passar um tempo de qualidade com a minha família assistindo séries e filmes</p>
    </article>
  </div>
</section>
