.footer {
  height: 75vh;
  bottom: 0;
  width: 100%;
  background-color: #E9FFF9;
  margin: 0;
  padding: 2rem 1rem;

  .footer__contact-title {
    font-weight: 700;
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
  }

  .footer__about-us {
    font-weight: 700;
    font-size: 2rem;
  }

  .footer__contact-email:last-child {
    margin: 0;
  }
}
