.navbar-lewagon {
  justify-content: space-between;
  background-color: #FFFFFF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo {
  font-family: 'Space Mono', monospace;
  font-weight: 600;
}

.navbar-toggler {
  border: none;
  color: #000000;

  .navbar__toggler-icon {
    color: #000000;
    font-size: 1.5rem;
  }
}
