.navbar-lewagon {
  justify-content: space-between;
  background-color: #FFFFFF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand:focus {
  outline: 1px solid #119DA4;
}

.logo {
  font-size: 1.7rem;
  color: #119DA4;
  font-family: 'Oleo Script', cursive;
}


.navbar-toggler {
  border: none;
  color: #000000;

  .navbar__toggler-icon {
    color: #000000;
    font-size: 1.5rem;
  }
}
